@charset "UTF-8";

main{
    margin: 0;
    padding: 20px;
}

main > p{
    margin: 0;
    padding: 20px;
}

img {
    width: 100%;
}
section{
    padding: 20px;
}

@media ( min-width: 700px){
    div{
        display: flex;
    }
    div section {
        flex: 1;
    }
}